<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>
<p> <% @messages_collection.each do |msg| %> </p>
<p> <%= msg.content%> </p>
<p> <%= msg.sender_id%> </p>
<p> <% end %> </p>

