<div class="col-xs-6 col-md-3">
<div class="thumbnail">
      <%= image_tag item.item_pic.url(:medium)%>
      <div class="caption">
        <h1><%= item.name %></h1>
        <p><%= item.description %></p>
        <p><%= link_to 'show',item,class: "btn btn-primary btn-sm" %></a></p>
      </div>
</div>
</div>