@import "bootstrap";
@import "font-awesome";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal */

html {
  overflow-y: scroll;
}

body {

  
  background-image: url(image-path('1920x1080_background.jpeg'));
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  logo{
  font-family: 'Dancing Script', Georgia, Times, serif;
  font-size: 40px;
  }
  h1 {
    font-family: Georgia, Times, serif;
    font-size: 59px;
    line-height: 60px;

}
 
p {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
}

well{
	background: white;
}
}


textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 5px;
}

.navbar{
  background-color: #FFFFFF ;
}



#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}

/* thumbnails */
.thumbnail{
  h1{
    font-size: 18px;
    line-height: 24px;
  }
  p{
    font-size: 14px;
  }
}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


